apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: databases.cloud.atomix.io
spec:
  group: cloud.atomix.io
  scope: Namespaced
  names:
    kind: Database
    listKind: DatabaseList
    plural: databases
    singular: database
    shortNames:
      - db
  versions:
    - name: v1beta2
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            spec:
              type: object
              required:
                - template
              properties:
                clusters:
                  type: integer
                  minimum: 1
                  maximum: 32
                  default: 1
                template:
                  type: object
                  required:
                    - spec
                  properties:
                    spec:
                      type: object
                      required:
                        - storage
                      properties:
                        partitions:
                          type: integer
                          minimum: 1
                          maximum: 1024
                          default: 1
                        storage:
                          type: object
                          required:
                            - group
                            - version
                            - name
                          properties:
                            group:
                              type: string
                            version:
                              type: string
                            namespace:
                              type: string
                            name:
                              type: string
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: clusters.cloud.atomix.io
spec:
  group: cloud.atomix.io
  scope: Namespaced
  names:
    kind: Cluster
    listKind: ClusterList
    plural: clusters
    singular: cluster
  versions:
    - name: v1beta2
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            spec:
              type: object
              required:
                - storage
              properties:
                partitions:
                  type: integer
                  minimum: 1
                  maximum: 1024
                  default: 1
                storage:
                  type: object
                  required:
                    - group
                    - version
                    - name
                  properties:
                    group:
                      type: string
                    version:
                      type: string
                    namespace:
                      type: string
                    name:
                      type: string
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: partitions.cloud.atomix.io
spec:
  group: cloud.atomix.io
  scope: Namespaced
  names:
    kind: Partition
    listKind: PartitionList
    plural: partitions
    singular: partition
  versions:
    - name: v1beta2
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            spec:
              type: object
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: storagecontrollers.cloud.atomix.io
spec:
  group: cloud.atomix.io
  scope: Cluster
  names:
    kind: StorageController
    listKind: StorageControllerList
    plural: storagecontrollers
    singular: storagecontroller
  versions:
    - name: v1beta2
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            spec:
              type: object
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: atomix-controller
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - endpoints
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
    verbs:
      - '*'
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - replicasets
      - statefulsets
    verbs:
      - '*'
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - '*'
  - apiGroups:
      - cloud.atomix.io
    resources:
      - '*'
    verbs:
      - '*'
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: atomix-controller
subjects:
  - kind: ServiceAccount
    name: atomix-controller
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: atomix-controller
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: atomix-controller
  namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: atomix-controller
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      name: atomix-controller
  template:
    metadata:
      labels:
        name: atomix-controller
    spec:
      serviceAccountName: atomix-controller
      containers:
        - name: atomix-controller
          # Replace this with the built image name
          image: atomix/kubernetes-controller:latest
          ports:
            - containerPort: 60000
              name: metrics
            - containerPort: 5679
              name: control
          command:
            - atomix-controller
          imagePullPolicy: IfNotPresent
          readinessProbe:
            exec:
              command:
                - stat
                - /tmp/atomix-controller-ready
            initialDelaySeconds: 4
            periodSeconds: 10
            failureThreshold: 1
          env:
            - name: CONTROLLER_NAME
              value: "atomix-controller"
            - name: CONTROLLER_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
---
apiVersion: v1
kind: Service
metadata:
  name: atomix-controller
  namespace: kube-system
  labels:
    name: atomix-controller
spec:
  selector:
    name: atomix-controller
  ports:
    - name: control
      port: 5679